.nav a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

.nav li {
    display: inline;
}

.jumbotron {
  background-image: url('https://wallpaperscraft.com/image/panda_smile_white_black_minimalist_74449_2560x1600.jpg'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron ul {
    color: dodgerblue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    top: 400px;
}

.profile{
    color:dodgerblue;
    font-size:5px;
    content:black;
    border:2px solid dodgerblue;
    border-radius:25px;
    border-size: 10px;
    float:left;
    padding:5px;
    position: fixed;
    
}

ul.profile{
    
    list-style-type: none;
}

.jumbotron h3 {
    text-align: center;
    font-size: 60px;
    color:dodgerblue;
}
.jumbotron p {
    text-align: center;
    font-size: 30px;
    color:dodgerblue;
}

.container{
    
    color:Black;
}

img{
    
    margin-bottom: 200px;
    margin-left:15px;
    width:100px;
    height:100px;
}
